<html lang="es">
  <head>
    <%- include('../plantillas/head'); %>
  </head>

  <body>

    <div class="centerH">
        <div id="content" class="col70">
<!--------------------------------- CABECERA ------------------------------>
            <%- include('../plantillas/header'); %>
<!--------------------------------- CUERPO -------------------------------->
            <div id="body" class="col100">
    <!--------------------------------- MENÚ ---------------------------------->
                <%- include('../plantillas/menu'); %>
    <!--------------------------------- CONTENIDO ----------------------------->
                <div id="content" class="col70 centerVH">
                    <div class="col50">
                        <h2>Usuario añadido correctamente</h2>
                        <input type="button" value="Volver a Iniciar Sesión" onclick="$(location).attr('href','/api/login');">
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>
  </body>
</html>