<div id="header" class="col100 bred">
    <div class="col5 right sMarginTop">
        <img id="login" class="col60" src="/img/17503049231586786427.svg" onclick="$(location).attr('href','/api/login');">
    </div>
</div>

<style>
    #login:hover{
        cursor: pointer;
    }

</style>