<div id="menu" class="col20">
    <div id="menuPeliculas" class="col100 sMarginTop">
        <div id="menuPeliculasCapa1" class="col100">
            <div class="col10 mMarginLeft sMarginTop">
                <img src="/img/17343587831556273568.svg" alt="">
            </div>
            <p class="menuElement col80 xsMarginTop" onclick="$(location).attr('href','/api/peliculas');">Películas</p>
        </div>
        <div id="menuPeliculasCapa2" class="col100">

        </div>
    </div>
    <div id="menuSeries" class="col100">
        <p class="menuElement">Series</p>
    </div>
</div>