<html lang="es">
  <head>
    <%- include('../plantillas/head'); %>
  </head>

  <body>

    <div class="centerH">
        <div id="content" class="col70 bblack">
<!--------------------------------- CABECERA ------------------------------>
            <%- include('../plantillas/header'); %>
<!--------------------------------- CUERPO -------------------------------->
            <div id="body" class="col100">
    <!--------------------------------- MENÚ ---------------------------------->
                <%- include('../plantillas/menu'); %>
    <!--------------------------------- CONTENIDO ----------------------------->
                <div id="content" class="col70">
                    <div id="btnNewform" class="col8 right mMarginTop">
                        <button class="btn-success round col100 centerVH" onclick="addForm()">
                            <svg class="col70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.021 25.021">
                                <polygon points="25.021,16.159 16.34,16.159 16.34,25.021 8.787,25.021 8.787,16.159 0,16.159 0,8.605 
                                        8.787,8.605 8.787,0 16.34,0 16.34,8.605 25.021,8.605" fill="#fff"></polygon>
                            </svg>
                        </button>
                    </div>
                    <div id="allForms" class="col100">
                        <form class="col50" action="/api/peliculas" method="POST" enctype="multipart/form-data">
                            <label for="titulo" class="col100 mMarginTop">Título</label>
                            <input type="text" name="titulo" id="titulo" class="col90 mMarginLeft" required><br><br>

                            <label for="imagen" class="col100 mMarginTop">Imagen</label><br><br>
                            <input id="imagen" type="file" name="imagen" class="col90 mMarginLeft"><br>
    
                            <label for="anyo" class="col100 mMarginTop">Año</label>
                            <input id="anyo" type="number" name="anyo" class="col90 mMarginLeft" required><br><br>
    
                            <label for="valoracion" class="col100 mMarginTop">Valoración</label>
                            <input type="number" name="valoracion" id="valoracion" class="col90 mMarginLeft" required><br><br>
    
                            <label for="etiquetas" class="col100 mMarginTop">Etiquetas</label>
                            <input type="text" name="etiquetas" id="etiquetas" class="col90 mMarginLeft" required><br><br>
    
                            <label for="descripcion" class="col100 mMarginTop">Descripción</label>
                            <textarea id="descripcion" class="col90 mMarginLeft" name="descripcion" cols="30" rows="2"></textarea><br><br>
                            <button type="submit" class="clear">Enviar</button>
                        </form>
                    </div>
                    <div class="col100">
                        
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        </div>
    </div>

    
  </body>
  <style>
    .menuElement:hover {
    cursor: pointer;
    }
    button.round {
        height: 55px;
        width: 55px;
        border-radius: 50px;
    }
    #allForms {
        margin-top: -7%;
    }
  </style>
    <script>
        function addPelicula(){
            $.ajax({
            url: '/api/peliculas',
            type: 'POST',
            data: {
                //"_token": token,
                "titulo": $("#titulo").val(),
                "anyo": $("#anyo").val(),
                "valoracion": $("#valoracion").val(),
                "etiquetas": $("#etiquetas").val(),
                "descripcion": $("#descripcion").val(),
                "imagen": $("#imagen").attr("src")
            },
            success:function(result){
                if(result["status"]){
                    alert("Película añadida");
                }
            }
            });
        }

        function index(){
            $(location).attr('href', '/api/peliculas');
        }
    </script>
</html>